body {
    background-color: #f37019;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: -webkit-fill-avaliable;
  }

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

html{
    height: -webkit-fill-avaliable;
}

.logo{
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
}

.upper_text{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 3rem;
}

.bottom_text{
    display: flex;
    justify-content: center;
    color: white;
}

#map{
    height: 600px;
    width: 600px;
    margin: 1rem auto;
}